
        <span>Ordered By: {{list.orderByField}}, Reverse Sort: {{list.reverseSort}}</span>
        <br><br>

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchIp">
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="list.orderByField='ip'; list.reverseSort = !list.reverseSort">
                        Ip
                        <span ng-show="list.orderByField == 'ip'">
                            <span ng-show="!list.reverseSort">^</span>
                            <span ng-show="list.reverseSort">v</span>
                        </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="list.orderByField='status'; list.reverseSort = !list.reverseSort">
                        Status
                        <span ng-show="list.orderByField == 'status'">
                            <span ng-show="!list.reverseSort">^</span>
                            <span ng-show="list.reverseSort">v</span>
                        </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="list.orderByField='dpt'; list.reverseSort = !list.reverseSort">
                        Department
                        <span ng-show="list.orderByField == 'dpt'">
                            <span ng-show="!list.reverseSort">^</span>
                            <span ng-show="list.reverseSort">v</span>
                        </span>
                        </a>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.LocalNetworkArray | orderBy: list.orderByField:list.reverseSort | filter: searchIp ">
                    <td>{{item.ip}}</td>
                    <td>
                        <a class="status-alive" ng-show="item.status">online</a>
                        <a class="status-dead" ng-show="!item.status">offline</a>
                        <!--<a ng-class="item.status == true ? 'status-alive' : 'status-dead'"></a>-->
                    </td>
                    <td>Telekom</td>
                    <td class="col-sm-1"><a href="#" class="btn btn-sm">Edit</a></td>
                </tr>
            </tbody>
        </table>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>