<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Toolbar</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchIp">
                </div>
            </div>
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" ng-click="machineList.open('lg')">ADD NEW</button>
    </div>
</div>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                <a href="#" ng-click="machineList.orderByField='ip'; machineList.reverseSort = !machineList.reverseSort">
                    Ip
                    <span ng-show="machineList.orderByField == 'ip'">
                        <span ng-show="!machineList.reverseSort">^</span>
                        <span ng-show="machineList.reverseSort">v</span>
                    </span>
                    </a>
            </th>
            <th>
                <a href="#" ng-click="machineList.orderByField='status'; machineList.reverseSort = !machineList.reverseSort">
                    Status
                    <span ng-show="machineList.orderByField == 'status'">
                        <span ng-show="!machineList.reverseSort">^</span>
                        <span ng-show="machineList.reverseSort">v</span>
                    </span>
                    </a>
            </th>
            <th>
                <a href="#" ng-click="machineList.orderByField='dpt'; machineList.reverseSort = !machineList.reverseSort">
                    Department
                    <span ng-show="machineList.orderByField == 'dpt'">
                        <span ng-show="!machineList.reverseSort">^</span>
                        <span ng-show="machineList.reverseSort">v</span>
                    </span>
                    </a>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in machineList.LocalNetworkArray | orderBy: machineList.orderByField:machineList.reverseSort | filter: searchIp ">
            <td>{{item.ip}}</td>
            <td>
                <a class="status-alive" ng-show="item.status">ONLINE</a>
                <a class="status-dead" ng-show="!item.status">OFFLINE</a>
                <!--<a ng-class="item.status == true ? 'status-alive' : 'status-dead'"></a>-->
            </td>
            <td>Telekom</td>
            <td class="col-sm-1"><a href="#" class="btn btn-sm">Edit</a></td>
        </tr>
    </tbody>
</table>

<!--<span>Ordered By: {{machineList.orderByField}}, Reverse Sort: {{machineList.reverseSort}}</span>-->