<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Toolbar</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchIp">
                </div>
            </div>
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" ng-click="machineList.EditMachine()">ADD NEW MACHINE</button>
        <button type="button" class="btn btn-primary" ng-click="machineList.SortMachines()">SORT</button>
        <!--<button ng-click="machineList.recreate()">Recreate</button>-->
    </div>
</div>


<table ng-cloak class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                <a href="#" ng-click="machineList.orderByField='ip'; machineList.reverseSort = !machineList.reverseSort">
                    Ip
                    <span ng-show="machineList.orderByField == 'ip'">
                        <span ng-show="!machineList.reverseSort">^</span>
                        <span ng-show="machineList.reverseSort">v</span>
                    </span>
                    </a>
            </th>
            <th>
                <a href="#" ng-click="machineList.orderByField='status'; machineList.reverseSort = !machineList.reverseSort">
                    Status
                    <span ng-show="machineList.orderByField == 'status'">
                        <span ng-show="!machineList.reverseSort">^</span>
                        <span ng-show="machineList.reverseSort">v</span>
                    </span>
                    </a>
            </th>
            <th>
                <a href="#" ng-click="machineList.orderByField='Department'; machineList.reverseSort = !machineList.reverseSort">
                    Department
                    <span ng-show="machineList.orderByField == 'Department'">
                        <span ng-show="!machineList.reverseSort">^</span>
                        <span ng-show="machineList.reverseSort">v</span>
                    </span>
                    </a>
            </th>
            <th>
                <a href="#" ng-click="machineList.orderByField='Processor'; machineList.reverseSort = !machineList.reverseSort">
                    Processor
                    <span ng-show="machineList.orderByField == 'Processor'">
                        <span ng-show="!machineList.reverseSort">^</span>
                        <span ng-show="machineList.reverseSort">v</span>
                    </span>
                    </a>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in machineList.allMachines | orderBy: machineList.orderByField:machineList.reverseSort | filter: searchIp ">
            <td>{{item.Ip}}</td>
            <td>
                <a class="status-alive" ng-show="item.Status">ONLINE</a>
                <a class="status-dead" ng-show="!item.Status">OFFLINE</a>
            </td>
            <td>{{item.Department}}</td>
            <td>{{item.Processor}}</td>
            <td class="col-sm-1"><a ng-click="machineList.EditMachine(item._id)" href="#" class="btn btn-sm">Edit</a></td>
        </tr>
    </tbody>
</table>

    <!--<table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Ip</th>
                <th>Status</th>
                <th>Department</th>
                <th> Processor</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in machineList.allMachines">
                <td>{{item.Ip}}</td>
                <td>ONLINE</td>
                <td>{{item.Department}}</td>
                <td>{{item.Processor}}</td>
                <td>Edit</td>
            </tr>
        </tbody>
    </table>-->

<!--<span>Ordered By: {{machineList.orderByField}}, Reverse Sort: {{machineList.reverseSort}}</span>-->