.status-alive{
    padding: 10px 15px;
    background-color: #4caf50 !important;
    cursor: pointer;
}
.status-dead{
    padding: 10px 15px;
    background-color: #f92a2d !important;
    cursor: pointer;
}
.list-status-alive{
    color:#4caf50
}
.list-status-dead{
    color:#f92a2d
}
.panel-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width:200px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.panel-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}

.scrollable-list {
    margin-top: 10px !important;
    width: 100%;
    height: 10em;
    line-height: 1em;
    border: 1px solid #ccc;
    /*padding: 0;
    margin: 0;*/
    overflow: scroll;
    overflow-x: hidden;
}


ul  {
    text-indent: 1em;
    list-style-type: none;
}

/*.panel-info>.panel-heading {
    cursor: pointer;
    background-color: #4caf50 !important;
}*/