<div class="modal-header">
    <h3 ng-if="ctrl.newMachine._id" class="modal-title" id="modal-title">Edit Machine</h3>
    <h3 ng-if="!ctrl.newMachine._id" class="modal-title" id="modal-title">New Machine</h3>
</div>
<div class="modal-body" id="modal-body">
    <fieldset>
        <!--<legend>Legend</legend>-->
        <div class="form-group">
            <label for="inputIp" class="col-md-3 control-label">Ip</label>
            <div class="col-lg-9">
                <input ng-model="ctrl.newMachine.Ip" class="form-control" id="inputIp" placeholder="Ip" type="text">
            </div>
        </div>
        <div class="form-group">
            <label for="selectDepartment" class="col-md-3 control-label">Department</label>
            <div class="col-lg-9">
                <select ng-model="ctrl.newMachine.Department" class="form-control" id="selectDepartment">
                        <option>Web</option>
                        <option>Server</option>
                        <option>Router</option>
                    </select>
            </div>
        </div>
        <div class="form-group">
            <label for="selectProcessor" class="col-md-3 control-label">Processor</label>
            <div class="col-lg-9">
                <select ng-model="ctrl.newMachine.Processor" class="form-control" id="selectProcessor">
                        <option>Intel</option>
                        <option>AMD</option>
                        <option>etc....</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div ng-if="ctrl.newMachine._id" class="form-group">
                <label for="UptimeList" class="col-md-3 control-label">Uptime Archive</label>
                <div class="col-lg-9">
                    <ul class="scrollable-list" id="UptimeList">
                        <ul ng-repeat="item in ctrl.UptimeList" id="UptimeList">
                            <li ng-class="item.StoredStatus ? 'list-status-alive': 'list-status-dead'">
                                {{item.StoredDate | date:'MMM-dd HH:mm:ss'}}
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

    </fieldset>

</div>
<div class="modal-footer">
    <button ng-if="ctrl.newMachine._id" class="pull-left btn btn-danger" type="button" ng-click="ctrl.delete()">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok(ctrl.newMachine)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>