<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New Ip</h3>
</div>
<div class="modal-body" id="modal-body">
    <!--<ul>
        <li ng-repeat="item in ctrl.items">
            <a href="#" ng-click="$event.preventDefault(); 
                ctrl.selected.item = item">
                    {{ item }}
            </a>
        </li>
    </ul>
    Selected: <b>{{ ctrl.selected.item }}</b>-->


    <form ng-submit="ctrl.submitIp(newIp)" class="form-horizontal">
        <fieldset>
            <!--<legend>Legend</legend>-->
            <div class="form-group">
                <label for="inputIp" class="col-lg-2 control-label">Ip</label>
                <div class="col-lg-10">
                    <input ng-model="ctrl.newIp.Ip" class="form-control" id="inputIp" placeholder="Ip" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="selectDpt" class="col-lg-2 control-label">Department</label>
                <div class="col-lg-10">
                    <select ng-model="ctrl.newIp.Dpt" class="form-control" id="selectDpt">
                        <option>Maran</option>
                        <option>Server</option>
                        <option>Triboo</option>
                        <option>Telekom</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="selectProc" class="col-lg-2 control-label">Processor</label>
                <div class="col-lg-10">
                    <select ng-model="ctrl.newIp.Proc" class="form-control" id="selectProc">
                        <option>Intel</option>
                        <option>AMD</option>
                        <option>etc....</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok(ctrl.newIp)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>