<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Sort</h3>
</div>
<div class="modal-body" id="modal-body">

    <fieldset>
       
        <button class="btn btn-primary" type="button" ng-click="sortCtrl.All('All')">All</button>
        <button class="btn btn-default" type="button" ng-click="sortCtrl.Triboo('Triboo')">Triboo</button>
        <button class="btn btn-default" type="button" ng-click="sortCtrl.Server('Server')">Server</button>

    </fieldset>

</div>
<div class="modal-footer">
    footer
</div>